      html,
      body {
        height: 100%;
      }

      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -60px;
      }

      #push{
         height: 60px;
      }
      #footer {
        height: 50px;
      }
      #footer {
        background-color: #f5f5f5;
        /*background: -webkit-linear-gradient(bottom, #FAEAD1, rgba(255, 255, 255, 0.56));*/
      }

      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

  body{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,234,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(224,234,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,234,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,234,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,234,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(224,234,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0eaff', GradientType=0 );    background-repeat: no-repeat;
    background-attachment: fixed;
  }
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 50px;
  text-shadow:1px 2px 3px black;
  color:white;
  /*font-size: 48px;*/
  line-height: 230px;
  /*line-height: 600px;*/
  font-weight: 700;
  /*text-align: center;*/
  text-align: right;
  /*text-transform: uppercase;*/
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 400px){
  #lab-mail,#lab-est,#lab-us,#lab-cont,#lab-rep-cont,#lab-nom,#lab-tlf,#lab-log-us,#lab-cont,#lab-log-cont,#lab-log-mail{
      display: none;
    }
}

@media all and (min-width: 401px){
  section.module.parallax-1 
  {
    background-image: url("../img/dona1.jpg");
  }
}

@media all and (min-width: 401px){
  section.module.parallax-2 
  {
    background-image: url("../img/medicinas.jpg");
  }
}

@media all and (max-width: 400px){
  section.module.parallax-1,section.module.parallax-2 
  {
    display: none;
    /*background-image: url("../img/dona1.jpg");*/
  }
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    text-align: center;
    font-size: 20px;
    text-shadow:1px 2px 3px black;
    color:white;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    text-align: center;
    font-size: 50px;
    text-shadow:1px 2px 3px black;
    color:white;
    /*font-size: 160px;*/
  }
}
